.titlebackground{

    background-color: #CEE3F8;
    margin-top: 0px;

    .page-headerme a {
        font-family: "Trirong", serif;
        font-size: 25px;
        margin-top: 0;
        margin-left: 20px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        color: #020202;

        &:hover {
          text-decoration: none;
          color: darken(#020202, 10%);
        }
    }
 }

.links{

   margin-bottom: 10px;
   margin-top: 10px;
 }

 .askreddit {

   a {
     color: red;
     font-weight: bold;
   }

 }


.crossarea {
    margin-bottom: 20px;
}
small, .home_votes {

  font-size: 12px;

}

.btn, .btn-success, .btn-lg{

  background-color: #CEE3F8;
  border-color: #CEE3F8;
  i{
    color: #020202;
  }

  &:hover {
    background-color: darken(#CEE3F8, 10%);
    border-color: darken(#CEE3F8, 10%);


  }


}

.home_voteup_buttons_area{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  a{
    margin-bottom:1px;
  }

}


.home_post{
      .home_post_title{
            margin-left: 0;
            margin-top: 0;
            h2, h1 {
              margin-top: 0;
            }
      }

      .home_post_title_row{

        margin-top: 0px;
      }

      .home_post_timestamp_row{

       margin-left: 0;
       margin-top: 0px;

      }
}



.row, .post_body{
  margin-left: 0;
  margin-top: 20px;
}


.newcomment_form{


  padding-right: 0px;
}

.comment_username_input{

  margin-top: 10px;

}

.comments_area {

  .comment_body {

      margin-left: 0px;
      margin-top: 0px;

      .comment_username{
        margin-bottom: 15px;
        padding-left: 0px;

      }

    .panel, .panel-default{

        margin-bottom: 0;
        padding-left: 5px;

        .panel-body{

          padding-left: 0;
          padding-top: 5px;
          padding-bottom: 5px;


        }

    }
  }

}


.new_title{
  margin-top: 0px;
}

.row_new_post_form{
  margin-top: 0px;

  .newpost_titlelabel{
      font-size: 20px;

  }

  .newpost_titleinput{

    margin-top: 5px;
  }

}
