
.titlebackground{

    background-color: #CEE3F8;

    .page-headerme a {
        font-family: "Trirong", serif;
        font-size: 25px;
        margin-top: 0;
        margin-left: 20px;
        height: 60px;
        font-size: 30px;
        line-height: 60px;
        color: #020202;

        &:hover {
          text-decoration: none;
          color: darken(#020202, 10%);


        }

    }
 }

.links{

   margin-bottom: 10px;
   margin-top: 10px;

 }


.crossarea {

    margin-bottom: 20px;

}
small, .home_votes {

  font-size: 12px;

}

.home_voteup_buttons_area{
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  a{
    margin-bottom:1px;
  }

}


.row .home_post_title_row{

 margin-left: 0;

}

.row .home_post_timestamp_row{

 margin-left: 0;

}

.row .home_post_title{
      margin-left: 0;
      h2{
        margin-top: 0;
      }
}

.row .post_body{
  margin-left: 0;
  margin-top: 20px; 
}

   p, .comment_body {

      border-width: 2px;
      border-color: black;

  }
